/* ---- BROWSER-SPECIFIC FIXES ---- */

/* remove dotted outlines in Firefox */
::-moz-focus-inner {
	border: 0;
}

/* fix height of select boxes for OS X */
select {
	height: 32px;
}

/* reset typeface for IE8 because OpenSans renders too small */
.ie8 body {
    font-family: Frutiger, Calibri, 'Myriad Pro', Myriad, Arial, sans-serif;
}

.lte8 .icon-delete { background-image: url('../img/actions/delete.png'); }
.lte8 .icon-delete:hover, .icon-delete:focus {
	background-image: url('../img/actions/delete-hover.png');
}

.lte9 .icon-triangle-e {
	background-image: url('../img/actions/triangle-e.png');
}
.lte9 .icon-triangle-n {
	background-image: url('../img/actions/triangle-n.png');
}
.lte9 .icon-triangle-s {
	background-image: url('../img/actions/triangle-s.png');
}
.lte9 .icon-settings,
.lte9 .settings-button {
	background-image: url('../img/actions/settings.png');
}


/* IE8 needs background to be set to same color to make transparency look good. */
.lte9 #body-login form input[type="text"] {
	border: 1px solid lightgrey; /* use border to add 1px line between input fields */
	background-color: white; /* don't change background on hover */
}
.lte9 #body-login form input[type="password"] {
	/* leave out top border for 1px line between input fields*/
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	background-color: white; /* don't change background on hover */
}

/* disable opacity of info text on gradient
   since we cannot set a good backround color to use the filter&background hack as with the input labels */
.lte9 #body-login p.info {
	filter: initial;
}

/* deactivate show password toggle for IE. Does not work for 8 and 9+ have their own implementation. */
.ie #show, .ie #show+label {
	display: none;
	visibility: hidden;
}

/* fix installation screen rendering issue for IE8+9 */
.lte9 #body-login {
	height: auto !important;
}

/* oc-dialog only uses box shadow which is not supported by ie8 */
.ie8 .oc-dialog {
	border: 1px solid #888888;
}

/* IE8 doesn't support transparent background - let's emulate black with an opacity of .3 on a dark blue background*/
.ie8 fieldset .warning, .ie8 #body-login .error {
	background-color: #026699;
}

/* IE8 isn't able to display transparent background. So it is specified using a gradient */
.ie8 #nojavascript {
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c320000', endColorstr='#4c320000');
}

/* IE8 doesn't have rounded corners, so the strengthify bar should be wider */
.lte8 #body-login .strengthify-wrapper {
	width: 271px;
	left: 6px;
}

/* fix background of navigation popup in IE8 */
.ie8 #navigation {
	background-color: #24282F;
}

/* needed else IE8 will randomly hide the borders... */
.ie8 table th#headerDate, table td.date,
.ie8 table th.column-last, table td.column-last {
	position: static;
}

.ie8 #controls {
	background-color: white;
}

.ie8 #content-wrapper {
	overflow-y: auto;
}

.ie8 #app-navigation .app-navigation-entry-edit input {
	line-height: 38px;
}

